<h2>Edit Profile</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <!-- <label>
        Name:
        <input type="text" formControlName="name">
      </label>
      <label>
        Contact:
        <input type="text" formControlName="contactInfo">
      </label>
      <label>
        Bio:
        <textarea formControlName="bio"></textarea>
      </label>
      <button type="submit">Save</button> -->
      <div>
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name">
      </div>
    
      <div>
        <label for="contactInfo">Contact Info:</label>
        <input id="contactInfo" type="text" formControlName="contactInfo">
      </div>
    
      <div>
        <label for="bio">Bio:</label>
        <input id="bio" type="text" formControlName="bio">
      </div>
  
      <button type="submit">Save</button>
    </form>
  
